load_dotenv
fastapi
uvicorn
python-jose
passlib
sqlalchemy
pydantic_settings
asyncpg
pydantic[email]
python-multipart
python-magic
sqlalchemy-data-model-visualizer
qdrant-client
PyPDF2
python-magic
natsort
opencv-python
requests
pdf2image
rich
python-docx==1.1.2
scikit-learn
scipy
openai<1